{
  "extends": ["react", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "env": {
    "browser": true
  },
  "globals": {
    "Promise": true,
    "arguments": true
  }
}
