.confirmWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .75);
}

.confirm {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #FFF;
  padding: 1em 2em;
  width: 80%;
}

.actions {
  display: flex;
}
