@import-normalize;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  display: block;
  outline: none;
  margin: 0;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-radius: .5em;
  border: none;
  font-size: 1rem;
  transition: all 20ms linear;
  transform-origin: center center;
  background: #eee;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  position: relative;
}

.btn:active {
  transform: scale(0.95);
}

.btn-group .btn {
  position: relative;
  display: inline-block;
}

.btn-group .btn:last-child {
  transform-origin: left center;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.btn-group .btn:first-child {
  transform-origin: right center;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.btn-group.small .btn, .btn.small {
  padding: 0.25em 0.5em;
}

.btn-group.medium .btn, .btn.medium {
  padding: 0.5em 1em;
}

.btn-group.large .btn, .btn.large {
  padding: 1em 2em;
}
